.homePageWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.formWrapper {
  background-color: #010102c7;
  padding: 20px;
  border-radius: 20px;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #4aed88;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo {
  height: 120px;
  margin-bottom: 30px;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;

}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}

.joinBtn {
  background: #4aed88;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover {
  background: #2b824c;
}

.createInfo {
  /* text-align: center; */
  margin: 0 auto;
  margin-top: 10px;
}

.createNewBtn {
  color: #4aed88;
  text-decoration: none;
  border-bottom: 1px solid;
  transition: all 0.3s ease-in-out;

}

.createNewBtn:hover,
footer a:hover {
  color: #368654;
  border-color: #2b824c;

}


.mainWrap {
  display: grid;
  grid-template-columns: 237px 1fr;

}

.aside {
  display: flex;
  flex-direction: column;
  background: #1c1e29;
  padding: 10px;
  color: white;
}

.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;

}

.logoImage {
  width: 100%;
}

.leaveBtn {
  margin-top: 20px;
  background-color: red;
  color: white;
  width: 100%;
}

.leaveBtn:hover {
  margin-top: 20px;
  background-color: rgba(255, 0, 0, 0.576);
  color: white;
  width: 100%;
}

.copyBtn {
  background-color: black;
  color: white;
}

.copyBtn:hover {
  background-color: #c8b6ffab;
  color: black;
}

.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;

}