
.homePageWrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.formWrapper{
  background-color:#010102b6;
  padding: 20px;
  border-radius: 10px;
}

footer{
  position: fixed;
  bottom: 0;
}
footer a{
  color: #4aee88;
}
.inputGroup{
  display: flex;
  flex-direction: column;
}

.mainLabel{
  margin-bottom: 20px;
  margin-top: 0;
}
.homePageLogo{
  height: 120px;
  margin-bottom: 30px;
}

.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
}