.homePageWrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.formWrapper{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  /* height: 500px; */
}

footer{
  position: fixed;
  bottom: 0;
}
footer a{
  color: #4aee88;
}